#-------------------------------------------------------------------------------
# Build artifacts
#-------------------------------------------------------------------------------
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#-------------------------------------------------------------------------------
# Debugging and diagnostic files
#-------------------------------------------------------------------------------
*.dSYM/
*.su
*.idb
*.pdb
*.gcda
*.gcno
*.gcov
*.profraw
*.profdata

#-------------------------------------------------------------------------------
# Kernel Module Compile Results
#-------------------------------------------------------------------------------
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#-------------------------------------------------------------------------------
# Visual Studio Code
#-------------------------------------------------------------------------------
.history/
*.vsix
.vscode/ipch/
.vscode/*.local.json
*.code-workspace

#-------------------------------------------------------------------------------
# macOS metadata
#-------------------------------------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#-------------------------------------------------------------------------------
# Bazel
#-------------------------------------------------------------------------------
/bazel-*
/bazel.iml
/output/
user.bazelrc

#-------------------------------------------------------------------------------
# Temporary files
#-------------------------------------------------------------------------------
/tmp/
*.log
*.tmp
*.swp
*.swo
*~
.#*

#-------------------------------------------------------------------------------
# Sphinx documentation
#-------------------------------------------------------------------------------
/sphinx/

#-------------------------------------------------------------------------------
# Project-specific files and folders
#-------------------------------------------------------------------------------
/examples/
/coverage/
/data/*.csv
/share/
/lib/
*.in
compile_commands.json
compile_flags.txt
.cache/
.clangd/
.clangd
/.idea/
/.vs/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/build/
/build-*/
/dist/
/out/
*.png
StyleGuide.md
_archive/
.github/copilot/
/external/
.vscode/
docs/
docs/*
benchmarks/results/*
!benchmarks/BUILD
!benchmarks/README.md
!benchmarks/csv_benchmark.c
!benchmarks/results/
!benchmarks/results/README.md
MODULE.bazel.lock
/external/
/external/*
